:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #1f4729b9;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }
}

.topnav {
    background-color: #12641f;
    overflow: hidden;

    a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;


        &:hover {
            background-color: #ddd;
            color: black;
        }

        &.active {
            background-color: #329c37;
            color: white;
        }
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #126420c7;
    color: #0f2513c7;
}


/*CORPO DO SITE*/

.all-browsers {
    background-color: #126420c7;
}

.browser {
    background: white;

    h2,
    p {
        margin: 4px;
        font-size: 90%;
    }
}

.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: rgba(99, 155, 104, 0.63);
    border: radius;

    h1,
    .browser {
        margin: 10px;
        padding: 5px;

        &>h2,
        p {
            margin: 4px;
            font-size: 90%;
        }
    }
}

.browser {
    background: #ebeeeed8;
}